{% extends 'base.html' %}
{% block content %}

    <div class="container">
        <!-- Some instructions -->
        <div class="card mb-4">
            <div class="card-body">
                <strong>Usage Instructions:</strong>
                <br>
                <p>Enter in all required information in the fields provided. Click <strong>Run Diagnosis</strong> and
                    check for results</p>
                <div class="alert alert-info" role="alert">
                    As much as I have spent time building this tool, I will always advise you to seek official medical
                    care from your Doctor
                </div>
            </div>
        </div>
        <!-- End of Instructions -->
        <div class="row mb-3">
            <div class="col-6 col-md-4 themed-grid-col">
                <h3>Symptoms</h3>
                <form method="post">
                    {% csrf_token %}
                    <!-- Male or Female -->
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                               value="female">
                        <label class="form-check-label" for="inlineRadio1">Female</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                               value="male">
                        <label class="form-check-label" for="inlineRadio2">Male</label>
                    </div>
                    <!-- End Male or Female -->
                    <!-- Input Birth Year --><br>
                    <label for="inputPassword5" class="form-label">Your Age</label>
                    <input type="number" name="age" id="age" class="form-control" required>
                    <div id="passwordHelpBlock" class="form-text">
                        Enter your age (i.e. 22)
                    </div>
                    <!-- End Birth Year -->

                    <!-- Select Symptoms --><br>
                    <h6>Symptoms Check</h6>
                    <select class="form-select form-select-sm" aria-label=".form-select-sm example" name="symptoms"
                            id="symptoms" onchange="show(this)" required>
                        <option selected>Select Symptoms</option>
                    </select>
                    <br>
                    <select class="form-select form-select-sm" aria-label=".form-select-sm example" name="symptoms_1"
                            id="symptoms_1" onchange="show(this)">
                        <option selected>Select Symptoms</option>
                    </select>
                    <br>
                    <select class="form-select form-select-sm" aria-label=".form-select-sm example" name="symptoms_2"
                            id="symptoms_2" onchange="show(this)">
                        <option selected>Select Symptoms</option>
                    </select>
                    <!-- End Select Symptoms --><br>
                    <button type="submit" class="btn btn-primary">Diagnose</button>
                </form>
            </div>
            <div class="col-md-8 themed-grid-col">
                <h3>Patient Diagnosis Results</h3>
                <!-- no diagnosis message -->
                {% if diagnosis == None %}
                    <div class="alert alert-primary" role="alert">
                        Add symptoms and required information to see your diagnosis
                    </div>
                {% endif %}
                <!-- end no diagnosis message -->
                <!-- diagnosis results -->
                {% for diagnosis in diagnosis %}
                    <div class="accordion" id="accordionExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="heading{{ forloop.counter }}">
                                <button
                                        class="accordion-button"
                                        type="button"
                                        data-mdb-toggle="collapse"
                                        data-mdb-target="#collapse{{ forloop.counter }}"
                                        aria-expanded="false"
                                        aria-controls="collapse{{ forloop.counter }}"
                                >
                                    {{ diagnosis.0 }}
                                </button>
                            </h2>
                            <div id="collapse{{ forloop.counter }}" class="accordion-collapse collapse"
                                 aria-labelledby="heading{{ forloop.counter }}" data-mdb-parent="#accordionExample">
                                <div class="accordion-body">
                                    {{ diagnosis.1 }}
                                </div>
                                <div class="accordion-body">
                                    <strong>Professional Name</strong>: {{ diagnosis.2 }}

                                </div>
                            </div>
                        </div>

                    </div>
{#TODO: Find a way to display the no results returned message                    <!-- When there is no diagnosis -->#}
{#                {% empty %}#}
{#                    <div class="alert alert-dark" role="alert">#}
{#                        Unfortunately according to your set of symptoms, no possible diagnosis was determined by the system. <br>#}
{#                    Consider visiting a physcian right away instead. Use <a href="#">This map </a> to locate one near you.#}
{#                    </div>#}
{#                    <!-- End When there is not diagnosis -->#}
                {% endfor %}
                <!-- end diagnosis results -->
            </div>
        </div>
    </div>

    <div class="b-example-divider"></div>

    <script>
        window.onload = populateSelect();

        function populateSelect() {

            // CREATE AN XMLHttpRequest OBJECT, WITH GET METHOD.
            var xhr = new XMLHttpRequest(),
                method = 'GET',
                overrideMimeType = 'application/json',
                url = 'https://api.jsonbin.io/b/61ed5a0d5c8caf43a69bcf7b';        // ADD THE URL OF THE FILE.

            xhr.onreadystatechange = function () {
                if (xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200) {

                    // PARSE JSON DATA.
                    var birds = JSON.parse(xhr.responseText);

                    var ele = document.getElementById('symptoms');
                    for (var i = 0; i < birds.length; i++) {
                        // BIND DATA TO <select> ELEMENT.
                        ele.innerHTML = ele.innerHTML +
                            '<option value="' + birds[i].ID + '">' + birds[i].Name + '</option>';
                    }

                    var ele = document.getElementById('symptoms_1');
                    for (var i = 0; i < birds.length; i++) {
                        // BIND DATA TO <select> ELEMENT.
                        ele.innerHTML = ele.innerHTML +
                            '<option value="' + birds[i].ID + '">' + birds[i].Name + '</option>';
                    }

                    var ele = document.getElementById('symptoms_2');
                    for (var i = 0; i < birds.length; i++) {
                        // BIND DATA TO <select> ELEMENT.
                        ele.innerHTML = ele.innerHTML +
                            '<option value="' + birds[i].ID + '">' + birds[i].Name + '</option>';
                    }
                }
            };
            xhr.open(method, url, true);
            xhr.send();
        }
    </script>

{% endblock %}