<h3>Profile Menu</h3>
<div class="list-group">
    <a href="#" class="list-group-item list-group-item-action active">
        Account
    </a>
    <a href="#" class="list-group-item list-group-item-action">Settings</a>
    <a href="#" class="list-group-item list-group-item-action">Billing</a>
    <a href="#" class="list-group-item list-group-item-action">Credentials</a>
    <a href="#" class="list-group-item list-group-item-action">----</a>
</div>
<hr class="bg-danger border-2 border-top border-primary mb-3 mt-3">